<div class="row">
<%# Bootstrap cards to display %>
<% @enquiries.each do |enquiry| %>
<div class="col-md-4">
<div class="card" style="width: 20rem;">
<div class="card-body">
<h5 class="card-title"><%= enquiry.name %></h5>
<p class="card-text menu-task"><%= enquiry.task %></p>
<p class="card-text menu-date"><%= enquiry.date %></p>
<p class="card-text menu-address"><%= enquiry.address %></p>
</div>
</div>
<% end %>
</div>